<h1>Login</h1>
<%= form_tag logins_path do |form| %>
  <div>
    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username %>
  </div>
  <div>
    <%= submit_tag "Login" %>
  </div>
<% end %>