<%= form_tag logins_path do |form| %>
  <header>
    <h1>Login</h1>
    <%= submit_tag "Login" %>
  </header>
  <div>
    <%= label_tag :username, "Username" %><br>
    <%= text_field_tag :username %>
  </div>
<% end %>