header {
  input[type="submit"] {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.form__fields {
  display: block;
  width: 100%;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  input {
    box-shadow: none;
    width: 100%;
    line-height: 1.2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-top: 0;
    outline: none;
  }

  input:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }

  input:focus {
    background-color: transparent;
  }

  select {
    position: relative;
    display: block;
    line-height: 1.2em; 
    padding: 0.7em;
    margin-left: -0.7em;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    option {
      

      &:not(:first-child) {
        padding: 0.7em;
        background-color: rgb(223, 223, 223);
        margin-left: 0.7em;
      }

      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }
      &:first-child {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        border-bottom: 0;

      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
