.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    margin-top: 35vh;
  }

  div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;

    a {
      display: block;
      padding: 1em;
      text-align: center;
    }

    #login {
      background-color: #3979C3;
      color: white;
      border-radius: 5px;
    }
  }
}


