$primary: #3778c2;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #434c55;
}

header {
  background-color: $primary;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;

  a,
  input {
    color: white;
  }

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
  }
}

.nav__icon {
  position: absolute;
  left: 0.8em;
  top: 0.75em;
}
