$primary: #3778c2;

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #434c55;
}

header {
  background-color: $primary;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: white;

  a,
  input {
    color: white;
  }

  h1,
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
  }
}

.nav__icon {
  position: absolute;
  left: 0.8em;
  top: 0.75em;
}

.error_list li {
  display: block;
  padding: 0.5em;
  text-shadow: 0 0 1px lightcoral;

  &::before {
    content: '- ';
    color: lightcoral;
    text-shadow: 0 0 4px lightcoral;
  }
}

.field_with_errors {
  border-bottom: 1px solid lightcoral;
  box-shadow: 0 0 3px lightcoral;

  input {
    padding-left: 0.5em;
  }
}
