.sessions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F1F3F2;

  header {
    color: white;
    margin: 0;

    a {
      color: white;
    }
  }

  &__total {
    padding: 1.2em 1em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 5px rgba(141, 141, 141, 0.178);
    background-color: white;
  
    span {
      font-weight: bold;
    }
  }

  &__session {

  }
}