body,
html {
  max-height: 100vh;
  overflow-x: hidden;
}

.side_panel {
  background: rgb(55, 120, 194);
  background: linear-gradient(11deg, rgba(55, 120, 194, 1) 0%, rgba(27, 48, 149, 1) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3em 30% 1em 1em;
  color: white;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;

    img {
      border-radius: 50%;
      margin-bottom: 1em;
    }
  }

  li:not(:last-child) a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);
  }

  a {
    display: inline-block;
    margin-left: 1em;
    color: white;
    padding: 1em 0;
    width: calc(100% - 2.5em);
  }
}

.side_view {
  width: 100%;
  position: absolute;
  right: -73%;
  top: 3em;
  bottom: 3em;
  z-index: 0;

  iframe {
    position: relative;
    height: 100%;
    border: 0;
  }

  a {
    display: block;
    position: absolute;
    height: 100%;
    z-index: 100;
    top: 0;
    width: 100%;
  }
}
