<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LearningTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0;' ">
    <meta name="Description" content="Log your daily study sessions counted with pomodoros.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pacifico&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://kit.fontawesome.com/180379972d.js" crossorigin="anonymous"></script>
  </body>
</html>
